@model List<Lottery>
@{
    var successMessage = TempData["successMessage"];
    var errorMessage = TempData["errorMessage"];
}
@if (successMessage != null)
{
    <div class="alert alert-success">@TempData["successMessage"]</div>

}

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Numaralar</th>
            <th>Oluşturulma Tarihi</th>
            <th>Çekiliş Tarihi</th>
            <th>Durumu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lottery in Model)
        {
            <tr>
                <td>@lottery.Number1 - @lottery.Number2 - @lottery.Number3 - @lottery.Number4 - @lottery.Number5 - @lottery.Number6 </td>
                <td>@lottery.CreateDate</td>
                <td>@lottery.DrawDate</td>
                <td>
                    <a class="btn btn-sm btn-outline-dark" asp-action="Draw" asp-controller="Lottery" asp-route-id="@lottery.Id">Çekiliş Yap</a>
                    <a class="btn btn-sm btn-outline-dark" asp-action="SeeResults" asp-controller="Lottery" asp-route-id="@lottery.Id">Sonuçları Gör</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@if (errorMessage != null)
{
    <div class="alert alert-danger">@TempData["errorMessage"]</div>

}