@model PlayViewModel
@{
    ViewData["Title"] = "Play";
}

<div class="row">
    <div class="card" style="width: 100%">
        <h5 class="card-header">Play</h5>
        <div class="card-body">
            <div class="d-flex">
                <a class="btn btn-success ">Oyun Oyna</a>
                <span style="margin-left:auto;" class="btn btn-secondary btn-sm">Bakiye : $@Model.Balance</span>
            </div>
            <hr />

            @if (Model.Data.Count > 0)
            {
                <ul class="list-group">
                    @foreach (var item in @Model.Data)
                    {
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col col-sm-2"></div>

                                <div class="col col-sm-1">
                                    @item.Number1
                                </div>
                                <div class="col col-sm-1">
                                    @item.Number2
                                </div>
                                <div class="col col-sm-1">
                                    @item.Number3
                                </div>
                                <div class="col col-sm-1">
                                    @item.Number4
                                </div>
                                <div class="col col-sm-1">
                                    @item.Number5
                                </div>
                                <div class="col col-sm-1">
                                    @item.Number6
                                </div>
                                <div class="col col-sm-2">
                                    @item.MatchCount
                                </div>
                                <div class="col col-sm-1">
                                    <a class="btn btn-success">Show</a>
                                </div>
                                <div class="col col-sm-1">
                                    <a class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <div class="text-center">
                    <h3>Daha önce oynadığınız bir bahis bulunamadı.</h3>
                </div>
            }
        </div>
    </div>
</div>


